# n8n Configuration
N8N_ENCRYPTION_KEY=change_me_to_random_secret_key

N8N_HOST=localhost
N8N_PORT=5678
N8N_PROTOCOL=http
WEBHOOK_URL=http://localhost:5678/

GENERIC_TIMEZONE=Europe/Moscow

# N8N_BASIC_AUTH_ACTIVE=true
# N8N_BASIC_AUTH_USER=admin
# N8N_BASIC_AUTH_PASSWORD=your_password
